<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_musicapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_musicapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicApp">
        <activity
            android:name=".sharedpref.TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".activity.TelaLogin"
            android:exported="false" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpref.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.NowPlaying"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>